@using System.Diagnostics
@model pcBoxOrria.ViewModels.PartidaViewModel

<select class="form-select" aria-label="Default select example" id="dropDown" name="dropDown" onchange="taulakErakutsi()">
    <option value="wallFame" selected>Wall of fame</option>
    <option value="wallShame">Wall of shame</option>
</select>

<table class="table" id="fameWallTaula">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Izena</th>
            <th scope="col">Jokoa</th>
            <th scope="col">Puntuazioa</th>
        </tr>
    </thead>
    <tbody>
        @try
        {
            var posizioa = 1;
            foreach (var partida in Model.PartidaViewModelList)
            {
                <tr>
                    <th scope="row">@posizioa</th>
                    <td>@partida.erabiltzailea</td>
                    <td>Mahi Kingdom</td>
                    <td>@partida.puntuazioa</td>
                </tr>
                posizioa = posizioa + 1;
            }
        }
        catch (Exception ex)
        {
            <p>@ex.Message</p>
        }
    </tbody>
</table>

<table class="table" id="shameWallTaula" style="display:none;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Izena</th>
            <th scope="col">Jokoa</th>
            <th scope="col">Puntuazioa</th>
        </tr>
    </thead>
    <tbody>
        @try
        {
            var posizioa = 1;
            foreach (var partida in Model.PartidaViewModelList.Reverse())
            {
                <tr>
                    <th scope="row">@posizioa</th>
                    <td>@partida.erabiltzailea</td>
                    <td>Mahi Kingdom</td>
                    <td>@partida.puntuazioa</td>
                </tr>
                posizioa = posizioa + 1;
            }
        }
        catch (Exception ex)
        {
            <p>@ex.Message</p>
        }
    </tbody>
</table>

<script>
    function taulakErakutsi() {
        var select = document.getElementById("dropDown");
        var taulaFame = document.getElementById("fameWallTaula");
        var taulaShame = document.getElementById("shameWallTaula");
        if (select.value == "wallFame") {
            taulaFame.style.display = "table";
            taulaShame.style.display = "none";
        } else {
            taulaFame.style.display = "none";
            taulaShame.style.display = "table";
        }
    }
</script>
